
.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

section{
  display: flex;
  height: calc(100vh - 60px);
  flex-flow: column nowrap;
  padding: 40px;
}

.posts-list{
  list-style: none;
}
.posts-list li{
  margin-bottom: 20px;
}
.posts-list li .post-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}
.posts-list li p{
  font-size: 14px;
}
